@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


a{
    @apply text-dark-color;
}
.section{
    @apply pt-20 px-0 pb-8
}
.section-title{
    @apply relative text-big mb-4 text-center tracking-widest
}
.section-title{
  @apply after:absolute after:w-14 after:h-0.5 after:-top-4  after:left-0 after:right-0 after:m-auto after:bg-dark-color

}
/* content: '';
position: absolute;
width: 56px;
height: .18rem;
left: 0;
right: 0;
margin: auto;
background-color:var(text-dark-color) ; */
.nav{
  @apply flex content-between items-center h-12
}
.screen{
  @apply max-md:fixed max-md:top-12 max-md:-left-full max-md:w-8/12 max-md:h-screen max-md:p-8 max-md:bg-white-color max-md:duration-500
}
.show{
  @apply left-0
}
.active{
  @apply relative
}
.active{
  @apply before:absolute before:-bottom-2 before:left-2/4 before:w-1 before:h-1 before:bg-dark-color before:rounded-lg
}
.scroll-header{
  @apply bg-white-color  shadow-black
}

#audio-player {
  @apply w-full max-w-md rounded-lg shadow-lg bg-white;
}
#audio-player::-webkit-media-controls-play-button {
  @apply bg-gray-200 rounded-full;
}
/* .featured__container{
  @apply gap-8 grid-cols-[repeat(auto-fit,minmax(220px,1fr))]
} */





/* .nail{
  @apply absolute bottom-12 left-2/4 w-max z-z-fixed flex gap-20
}
.item{
  @apply w-36 h-56 flex-shrink-0 relative
}
.item-img{
  @apply w-full h-full object-cover
} */